# test data
config
tests/__pycache__
tests/*/__pycache__
tests/venv

# IDE metadata
.idea
.project

.DS_Store
.venv/
client/.DS_Store
client/tinychain/.DS_Store
client/tinychain/ml/.DS_Store
local.Dockerfile
.vscode
