# This is an example systemd service config for Tinychain.

[Unit]
Description=Tinychain
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=2

# change this user name!
User=root

# change this path to match your Tinychain install path
# you'll probably also want to include the --address, --data_dir, and --cluster flags, at a minimum
ExecStart=/root/tinychain/host/target/release/tinychain --cache_size=4G

[Install]
WantedBy=multi-user.target
