[package]
name = "tinychain"
version = "0.5.0"
authors = ["haydn@tinychain.net"]
edition = "2018"
description = "A next-gen database + application server"
license = "Apache-2.0"
readme = "../README.md"
repository = "https://github.com/haydnv/tinychain.git"

keywords = ["distributed", "transactional", "host", "platform", "runtime"]
categories = ["concurrency", "database-implementations", "data-structures", "hardware-support", "web-programming"]

[lib]
name = "tinychain"
path = "src/lib.rs"

[[bin]]
name = "tinychain"
path = "src/main.rs"

[features]
tensor = ["tc-tensor", "tc-transact/tensor"]

[dependencies]
async-trait = "0.1"
bytes = "1.0"
destream = "0.5"
destream_json = { version = "~0.8.4", features = ["tokio-io"] }
env_logger = "0.9"
freqfs = "~0.4.1"
futures = "0.3"
hex = "0.4"
http = "0.2"
hyper = { version = "0.14", features = ["full"] }
log = { version = "0.4", features = ["release_max_level_info"] }
num_cpus = "1.13"
pin-project = "1.0"
rjwt = "0.4"
safecast = "~0.1.2"
serde = { version = "1.0", features = [] }
serde_json = { version = "1.0" }
sha2 = "0.9"
structopt = "0.3"
tbon = "~0.3.5"
tc-btree = { path = "btree" }
tc-error = { path = "error" }
tc-table = { path = "table" }
tc-tensor = { path = "tensor", optional = true }
tc-transact = { path = "transact" }
tc-value = { path = "value" }
tcgeneric = { path = "generic" }
tokio = { version = "1.12", features = ["fs", "io-util", "macros", "net", "rt-multi-thread", "signal", "sync", "time"] }
tokio-util = { version = "0.6", features = ["io"] }
uuid = "0.8"
url = { version = "2.2" }
