[package]
name = "tc-value"
version = "0.4.0"
authors = ["haydn@tinychain.net"]
edition = "2018"
description = "TinyChain's representation of a value which can be collated and stored. Unstable."
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/haydnv/tinychain.git"

keywords = ["tinychain"]
categories = ["data-structures"]

[dependencies]
async-hash = "0.3"
async-trait = "0.1"
base64 = "0.13"
bytes = "1.0"
collate = "~0.1.9"
destream = "0.5"
futures = "0.3"
handlebars = "4.1"
hex = "0.4"
log = { version = "0.4", features = [] }
number-general = { version = "~0.5.3", features=["hash", "serde", "stream"] }
safecast = "0.1"
serde = { version = "1.0", features = [] }
serde_json = { version = "1.0", features = [] }
sha2 = "0.10"
tcgeneric = { path = "../generic" }
tc-error = "0.4"
uuid = "0.8"
