[package]
name = "tc-collection"
version = "0.1.0"
authors = ["code@tinychain.net"]
edition = "2021"
description = "TinyChain's collection types"
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/haydnv/tinychain.git"

keywords = ["tinychain", "btree", "table", "tensor", "collection"]
categories = ["database", "database-implementations", "data-structures"]

[dependencies]
async-hash = "0.4"
async-trait = "0.1"
b-table = { path = "../../../b-table" }
b-tree = { path = "../../../b-tree" }
destream = { path = "../../../destream" }
ds-ext = { path = "../../../ds-ext" }
futures = "0.3"
freqfs = { path = "../../../freqfs" }
safecast = { path = "../../../safecast" }
tc-error = { path = "../error" }
tc-transact = { path = "../transact" }
tc-value = { path = "../value" }
tcgeneric = { path = "../generic" }
tokio = { version = "1.26", features = ["sync"] }
