[package]
name = "tc-transact"
version = "0.15.0"
authors = ["haydn@tinychain.net"]
edition = "2018"
description = "Traits and locking utilities for a TinyChain transaction."
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/haydnv/tinychain.git"

keywords = ["tinychain", "transaction", "executor"]
categories = ["concurrency", "data-structures"]

[features]
tensor = ["afarray"]

[dependencies]
afarray = { version = "~0.14.3", optional = true }
async-hash = "0.3"
async-trait = "0.1"
bytes = "1.0"
destream = "0.5"
futures = "0.3"
hex = "0.4"
log = { version = "0.4", features = [] }
num_cpus = "1.13"
rand = "0.8"
safecast = "~0.1.2"
sha2 = "0.10"
tbon = { version = "~0.3.4", features = ["tokio-io"] }
tcgeneric = { path = "../generic" }
tc-error = { path = "../error" }
tc-value = { path = "../value" }
tokio = { version = "1.18", features = ["sync"] }
txn_lock = { version = "0.5", features = ["logging"] }
