[package]
name = "tc-transact"
version = "0.17.0"
authors = ["code@tinychain.net"]
edition = "2021"
description = "Traits and locking utilities for a TinyChain transaction."
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/haydnv/tinychain.git"

keywords = ["tinychain", "transaction", "executor"]
categories = ["concurrency", "data-structures"]

[dependencies]
async-hash = "0.4"
async-trait = "0.1"
destream = { path = "../../../destream" }
futures = "0.3"
freqfs = { path = "../../../freqfs", features = ["stream"] }
get-size = "0.1"
get-size-derive = "0.1"
rand = "0.8"
safecast = { path = "../../../safecast" }
sha2 = "0.10"
tcgeneric = { path = "../generic" }
tc-error = { path = "../error" }
tc-value = { path = "../value" }
tokio = { version = "1.25", features = ["sync"] }
txfs = { path = "../../../txfs", features = ["logging"] }
txn_lock = { path = "../../../txn_lock", features = ["logging"] }
