[package]
name = "tc-table"
version = "0.1.5"
authors = ["haydnv"]
edition = "2018"
description = "Tinychain's Table collection type. Unstable."
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/haydnv/tinychain.git"

keywords = ["tinychain", "table", "collection"]
categories = ["database", "database-implementations", "data-structures"]

[dependencies]
async-trait = "0.1"
collate = "~0.1.9"
destream = "0.5"
futures = "0.3"
log = { version = "0.4", features = ["release_max_level_warn"] }
num_cpus = "1.13"
safecast = "0.1"
tc-btree = { path = "../btree" }
tc-error = "~0.2.3"
tc-transact = { path = "../transact" }
tc-value = { path = "../value" }
tcgeneric = "~0.1.9"
